@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    text-decoration: none;  
}

body {
    font-size: 100%;
    background: rgb(2,0,36);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-image {
    width: 80px;
    height: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px
}

.cabecalho-menu-item {
    font-family: 'Square Peg';
    font-size: 25px;
    color: #fff;
}

.conteudo {
    margin-bottom: 50px;    
    border-top: 0.4px solid #fff;
    text-align: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito-subtitulo {
    color: #fff;
}

.conteudo-principal-escrito-descricao{
    color: #fff;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Square Peg';
    font-size: 64px;
    color: #fff;
}

.conteudo-principal-imagem {
    width: 600px;
    height: 350px;
}

.conteudo-principal-escrito-botao span {
    position: relative;
    z-index: 100;
}
.conteudo-principal-escrito-botao {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0e76a8;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    transition: 0.5s;
}

.conteudo-principal-escrito-botao:hover {
    transition-delay: 1.5s;
    color: #000;    
    box-shadow: 0 0 10px #0e76a8,
                0 0 20px #0e76a8,
                0 0 40px #0e76a8,
                0 0 80px #0e76a8,
                0 0 160px #0e76a8;
}

.conteudo-principal-escrito-botao:nth-child(2) {
    filter: hue-rotate(80deg);    
}

.conteudo-principal-escrito-botao::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0e76a8;
    box-shadow: 5px -8px 0 #0e76a8,
                5px 8px 0 #0e76a8;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;  
    transition-delay: 1s,0.5s,0s,0s;
}

.conteudo-principal-escrito-botao:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0e76a8,
                5px 0 0 #0e76a8;
    transition-delay: 0s,0.5s,1s,1s;            
}

.conteudo-principal-escrito-botao::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0e76a8;
    box-shadow: -5px -8px 0 #0e76a8,
                -5px 8px 0 #0e76a8;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;  
    transition-delay: 1s,0.5s,0s,0s;
}

.conteudo-principal-escrito-botao:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0e76a8,
                -5px 0 0 #0e76a8;
    transition-delay: 0s,0.5s,1s,1s;            
}


.conteudo-principal-escrito-botao2 span {
    position: relative;
    z-index: 100;
}
.conteudo-principal-escrito-botao2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ff2400;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    transition: 0.5s;
}

.conteudo-principal-escrito-botao2:hover {
    transition-delay: 1.5s;
    color: #000;    
    box-shadow: 0 0 10px #ff2400,
                0 0 20px #ff2400,
                0 0 40px #ff2400,
                0 0 80px #ff2400,
                0 0 160px #ff2400;
}

.conteudo-principal-escrito-botao2:nth-child(2) {
    filter: hue-rotate(80deg);    
}

.conteudo-principal-escrito-botao2::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ff2400;
    box-shadow: 5px -8px 0 #ff2400,
                5px 8px 0 #ff2400;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;  
    transition-delay: 1s,0.5s,0s,0s;
}

.conteudo-principal-escrito-botao2:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #ff2400,
                5px 0 0 #ff2400;
    transition-delay: 0s,0.5s,1s,1s;            
}

.conteudo-principal-escrito-botao2::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ff2400;
    box-shadow: -5px -8px 0 #ff2400,
                -5px 8px 0 #ff2400;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;  
    transition-delay: 1s,0.5s,0s,0s;
}

.conteudo-principal-escrito-botao2:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #ff2400,
                -5px 0 0 #ff2400;
    transition-delay: 0s,0.5s,1s,1s;            
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    font-family: 'Square Peg';
    color: #fff;
    font-size: 38px;
    border-top: 0.4px solid #fff;
    padding-top: 48px;
}

.conteudo-secundario-descricao {
    color: #fff;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff;
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 50px;
}